
<!DOCTYPE html>
<html lang="en">

{% include "header.njk" %}



{% block body %}

<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="col 12" style="text-align: center">
            <h1>Its Dead Jim!</h1>
        </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>

</body>

{% endblock %}

</html>