    <div class="card-content black-text custom-font-weight">
        <p>Credit Provider Name: Bluw Shield Investments 01 (RF) Limited<br>
            Credit Provider Registration: NCRCP7052,<br>
            2 Milkwood Crescent,<br>
            Milkwood Park, La Lucia Ridge, 4051,<br>
            PO Box 3918, Durban, 4000<br>
            <br>
            Client Services: 0861888777,<br>
            Fax: +27 31 571 3150,<br>Email:admin@sahomeloans.com<br>
            Website: www.sahomeloans.com
        </p>
    </div>