coverage
node_modules/
npm-debug.log
.DS_Store
esdoc/
.idea
test/dist/*
solutions/
yarn.lock
C#/CardGame/.vs/CardGame/DesignTimeBuild/.dtbcache
C#/CardGame/.vs/CardGame/v15/.suo
C#/CardGame/.vs/CardGame/v15/Server/sqlite3/db.lock
C#/CardGame/.vs/CardGame/v15/Server/sqlite3/storage.ide
C#/CardGame/.vs/CardGame/v15/Server/sqlite3/storage.ide-shm
C#/CardGame/.vs/CardGame/v15/Server/sqlite3/storage.ide-wal
C#/CardGame/CardGame/bin/Debug/netcoreapp2.1/CardGame.dll
C#/CardGame/CardGame/bin/Debug/netcoreapp2.1/CardGame.pdb
C#/CardGame/CardGame/bin/Debug/netcoreapp2.1/CardGame.deps.json
C#/CardGame/CardGame/bin/Debug/netcoreapp2.1/CardGame.runtimeconfig.json
C#/CardGame/CardGame/bin/Debug/netcoreapp2.1/CardGame.runtimeconfig.dev.json
C#/CardGame/CardGame/obj/CardGame.csproj.nuget.cache
C#/CardGame/CardGame/obj/CardGame.csproj.nuget.g.props
C#/CardGame/CardGame/obj/CardGame.csproj.nuget.g.targets
C#/CardGame/CardGame/obj/project.assets.json
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/CardGame.dll
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/CardGame.pdb
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/CardGame.AssemblyInfo.cs
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/CardGame.AssemblyInfoInputs.cache
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/CardGame.assets.cache
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/CardGame.csproj.CoreCompileInputs.cache
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/CardGame.csproj.FileListAbsolute.txt
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/CardGame.csprojAssemblyReference.cache
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/project.razor.json
C#/CardGame/.vs/CardGame/DesignTimeBuild/.dtbcache.v2
C#/CardGame/.vs/CardGame/v16/.suo
C#/CardGame/CardGame/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
C#/Katas/Kata01/Kata01_SupermarketPricing/Kata01_SupermarketPricing.csproj
C#/Katas/Kata01/Kata01_SupermarketPricing/Kata01_SupermarketPricing.sln
C#/Katas/Kata01/Kata01_SupermarketPricing/Program.cs
C#/Katas/Kata01/Kata01_SupermarketPricing/.vs/Kata01_SupermarketPricing/DesignTimeBuild/.dtbcache.v2
C#/Katas/Kata01/Kata01_SupermarketPricing/.vs/Kata01_SupermarketPricing/v16/.suo
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Kata01_SupermarketPricing.csproj.nuget.dgspec.json
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Kata01_SupermarketPricing.csproj.nuget.g.props
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Kata01_SupermarketPricing.csproj.nuget.g.targets
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/project.assets.json
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/project.nuget.cache
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Debug/net5.0/Kata01_SupermarketPricing.AssemblyInfo.cs
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Debug/net5.0/Kata01_SupermarketPricing.AssemblyInfoInputs.cache
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Debug/net5.0/Kata01_SupermarketPricing.assets.cache
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Debug/net5.0/Kata01_SupermarketPricing.csprojAssemblyReference.cache
C#/Katas/Kata01/Kata01_SupermarketPricing/obj/Debug/net5.0/Kata01_SupermarketPricing.GeneratedMSBuildEditorConfig.editorconfig
C#/Katas/Kata02/.vs/slnx.sqlite
C#/Katas/Kata02/.vs/VSWorkspaceState.json
C#/Katas/Kata02/.vs/Kata02/v16/.suo
