/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.custom-font-weight{
  font-weight: bold;
}

 td.less-padding, th.less-padding {
  padding: 3px 2px;
  font-size:12px;
}

td.align-right, th.align-right {
  text-align: right;
}

th.inverted-colour{
  font-weight:bold;
  background-color:#000000;
  color:#ffffff;
  border-color:inherit;
  border-radius: 0px;
}

p.footer-centre{
  text-align: center;
  font-size:10px;
  font-family: sans-serif;
  margin: 0px 0px;
}

p.footer-tiny{
  text-align: center;
  font-size:9px;
  font-family: sans-serif;
  margin: 0px 0px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  color:black;
  background: transparent;
}
@page {
  margin: 2mm
}
br.tiny{
  font-size:9px;
}
.container {
  font-size:12px;
}