<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection,print" />
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection,print" />
</head>

<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div>
        <div class="row">
          <div class="col s4">
            <div class="card darken-1">
              <div class="card-content black-text">
                <p>Mr JR Van LongSurname &<br> Mrs JL Van LongSurname<br>
                  10101 Dirt Rd,<br> Naka-ku,<br> Hiroshima,<br> Japan,<br> 85283
                  <br>
                  <br>
                </p>
              </div>
            </div>
          </div>
          <div class="col s7">
            <div>
              <div class="card-content black-text custom-font-weight">
                <p>Credit Provider Name: Bluw Shield Investments 01 (RF) Limited<br>
                  Credit Provider Registration: NCRCP7052,<br>2 Milkwood Crescent,<br>Milkwood Park, La Lucia Ridge,
                  4051,<br>PO Box 3918, Durban, 4000
                  <br><br>Client Services: 0861888777,<br>Fax: +27 31 571 3150,<br>Email:
                  admin@sahomeloans.com<br>Website: www.sahomeloans.com
                </p>
              </div>
            </div>
          </div>
          <div class="col s1">
              <img class=""
                src="https://www.sahomeloans.com/content/themes/SAHL/app/assets/images/sitewide/sahl_head_logo_new_large.png"
                alt="SA Homeloans Logo">
            </div>

        </div>
        <div class="row" style="border:2px solid #000;">
          <div class="col s6">
            <table>
              <tbody>
                <tr>
                  <td class="custom-font-weight less-padding">Account Number:</td>
                  <td class="less-padding">123456789</td>
                </tr>
                <tr>
                  <td class="custom-font-weight less-padding">Loan Agreement Amount:</td>
                  <td class="less-padding">R595 918.40</td>
                </tr>
                <tr>
                  <td class="custom-font-weight less-padding">Remaining Term:</td>
                  <td class="less-padding">71</td>
                </tr>
                <tr>
                  <td class="custom-font-weight less-padding">Closing Balances as at:</td>
                  <td class="less-padding">21/05/2019</td>
                </tr>
                <tr>
                  <td class="custom-font-weight less-padding">Interest Rate as at 21/05/2019:</td>
                  <td class="less-padding">8.70%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col s6">
            <table>
              <tbody>
                <tr>
                  <td class="custom-font-weight less-padding">Home Loan Instalment:</td>
                  <td class="less-padding">R5 495.87</td>
                </tr>
                <tr>
                  <td class="custom-font-weight less-padding">Hoc Premium:</td>
                  <td class="less-padding">R605.05</td>
                </tr>
                <tr>
                  <td class="custom-font-weight less-padding">Bond Protection Plan:</td>
                  <td class="less-padding">R194.02</td>
                </tr>
                <tr>
                  <td class="custom-font-weight less-padding">Monthly Service Fee:</td>
                  <td class="less-padding">R57.50</td>
                </tr>
                <tr>
                  <td class="custom-font-weight less-padding">Total Monthly Instalment:</td>
                  <td class="less-padding">R6 352.44</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col s12">
            <table>
              <tbody>
                <tr>
                  <td class="custom-font-weight less-padding">Bank Account designated for Debit Order payment (if
                    applicable): Mr Joe Dirt</td>
                  <td class="less-padding">Capitec</td>
                  <td class="less-padding">*******123</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="row" style="border:2px solid #000;">
          <table>
            <thead>
              <tr>
                <th class="less-padding inverted-colour">Transaction</th>
                <th class="less-padding inverted-colour align-right">Effective <br>Date</th>
                <th class="less-padding inverted-colour align-right">Variable <br>Transaction</th>
                <th class="less-padding inverted-colour align-right">Outstanding <br>Balance</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="less-padding">Opening Balance</td>
                <td class="less-padding align-right"></td>
                <td class="less-padding align-right"></td>
                <td class="less-padding align-right">R315 216.25</td>
              </tr>
              <tr>
                <td class="less-padding">Instalment Payment - Debit Order - Variable</td>
                <td class="less-padding align-right">25/02/2019</td>
                <td class="less-padding align-right">-R6 500.00</td>
                <td class="less-padding align-right">R308 716.25</td>
              </tr>
              <tr>
                <td class="less-padding">Monthly Interest Debit - Variable</td>
                <td class="less-padding align-right">01/03/2019</td>
                <td class="less-padding align-right">R2063</td>
                <td class="less-padding align-right">R310 779.25</td>
              </tr>
              <tr>
                <td class="less-padding">HOC Premium</td>
                <td class="less-padding align-right">01/03/2019</td>
                <td class="less-padding align-right">R569.91</td>
                <td class="less-padding align-right">R311 349.22</td>
              </tr>
              <tr>
                <td class="less-padding">Regent Life Assurance Premium</td>
                <td class="less-padding align-right">01/03/2019</td>
                <td class="less-padding align-right">R194.02</td>
                <td class="less-padding align-right">R311 543.24</td>
              </tr>
              <tr>
                <td class="less-padding">Monthly Service Fee</td>
                <td class="less-padding align-right">01/03/2019</td>
                <td class="less-padding align-right">R57.50</td>
                <td class="less-padding align-right">R311 600.74</td>
              </tr>
              <tr>
                  <td class="less-padding">Instalment Payment - Debit Order - Variable</td>
                  <td class="less-padding align-right">25/02/2019</td>
                  <td class="less-padding align-right">-R6 500.00</td>
                  <td class="less-padding align-right">R308 716.25</td>
                </tr>
                <tr>
                  <td class="less-padding">Monthly Interest Debit - Variable</td>
                  <td class="less-padding align-right">01/03/2019</td>
                  <td class="less-padding align-right">R2063</td>
                  <td class="less-padding align-right">R310 779.25</td>
                </tr>
                <tr>
                  <td class="less-padding">HOC Premium</td>
                  <td class="less-padding align-right">01/03/2019</td>
                  <td class="less-padding align-right">R569.91</td>
                  <td class="less-padding align-right">R311 349.22</td>
                </tr>
                <tr>
                  <td class="less-padding">Regent Life Assurance Premium</td>
                  <td class="less-padding align-right">01/03/2019</td>
                  <td class="less-padding align-right">R194.02</td>
                  <td class="less-padding align-right">R311 543.24</td>
                </tr>
                <tr>
                  <td class="less-padding">Monthly Service Fee</td>
                  <td class="less-padding align-right">01/03/2019</td>
                  <td class="less-padding align-right">R57.50</td>
                  <td class="less-padding align-right">R311 600.74</td>
                </tr>
                <tr>
                    <td class="less-padding">Instalment Payment - Debit Order - Variable</td>
                    <td class="less-padding align-right">25/02/2019</td>
                    <td class="less-padding align-right">-R6 500.00</td>
                    <td class="less-padding align-right">R308 716.25</td>
                  </tr>
                  <tr>
                    <td class="less-padding">Monthly Interest Debit - Variable</td>
                    <td class="less-padding align-right">01/03/2019</td>
                    <td class="less-padding align-right">R2063</td>
                    <td class="less-padding align-right">R310 779.25</td>
                  </tr>
                  <tr>
                    <td class="less-padding">HOC Premium</td>
                    <td class="less-padding align-right">01/03/2019</td>
                    <td class="less-padding align-right">R569.91</td>
                    <td class="less-padding align-right">R311 349.22</td>
                  </tr>
                  <tr>
                    <td class="less-padding">Regent Life Assurance Premium</td>
                    <td class="less-padding align-right">01/03/2019</td>
                    <td class="less-padding align-right">R194.02</td>
                    <td class="less-padding align-right">R311 543.24</td>
                  </tr>
                  <tr>
                    <td class="less-padding">Monthly Service Fee</td>
                    <td class="less-padding align-right">01/03/2019</td>
                    <td class="less-padding align-right">R57.50</td>
                    <td class="less-padding align-right">R311 600.74</td>
                  </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col s1 waves-effect waves-light">1</div>
        <div class="col s1 blue">2</div>
        <div class="col s1">3</div>
        <div class="col s1">4</div>
        <div class="col s1">5</div>
        <div class="col s1">6</div>
        <div class="col s1">7</div>
        <div class="col s1">8</div>
        <div class="col s1">9</div>
        <div class="col s1">10</div>
        <div class="col s1">11</div>
        <div class="col s1">12</div>
      </div>
    </div>
  </div>


  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
            full time job. Any amount would help support and continue development on this project and is greatly
            appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>

</body>

</html>