<div class="row" style="border:2px solid #000;">
  <div class="col s6">
    <table>
      <tbody>
        <tr>
          <td class="custom-font-weight less-padding">Account Number:</td>
          <td class="less-padding">{{account.AccountNumber}}</td>
        </tr>
        <tr>
          <td class="custom-font-weight less-padding">Loan Agreement Amount:</td>
          <td class="less-padding">R{{account.LoanAgreementAmount}}</td>
        </tr>
        <tr>
          <td class="custom-font-weight less-padding">Remaining Term:</td>
          <td class="less-padding">{{account.RemainingTerm}}</td>
        </tr>
        <tr>
          <td class="custom-font-weight less-padding">Closing Balances as at:</td>
          <td class="less-padding">{{account.StatementDate}}</td>
        </tr>
        <tr>
          <td class="custom-font-weight less-padding">Interest Rate as at {{account.StatementDate}}:</td>
          <td class="less-padding">{{account.LoanRateVariable}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col s6">
    <table>
      <tbody>
        <tr>
          <td class="custom-font-weight less-padding">Home Loan Instalment:</td>
          <td class="less-padding">R5 495.87</td>
        </tr>
        <tr>
          <td class="custom-font-weight less-padding">Hoc Premium:</td>
          <td class="less-padding">R605.05</td>
        </tr>
        <tr>
          <td class="custom-font-weight less-padding">Bond Protection Plan:</td>
          <td class="less-padding">R194.02</td>
        </tr>
        <tr>
          <td class="custom-font-weight less-padding">Monthly Service Fee:</td>
          <td class="less-padding">R57.50</td>
        </tr>
        <tr>
          <td class="custom-font-weight less-padding">Total Monthly Instalment:</td>
          <td class="less-padding">R6 352.44</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col s12">
    <table>
      <tbody>
        <tr>
          <td class="custom-font-weight less-padding">Bank Account designated for Debit Order payment (if
            applicable): Mr Joe Dirt</td>
          <td class="less-padding">Capitec</td>
          <td class="less-padding">*******123</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>