<div class="row">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                {% for header in account.transactionColumns %}
                {% if header=='Transaction' %}
                <th scope="col" class="align-left align-middle">{{header}}</th>
                {% else %}
                <th scope="col" class="align-right">{{header}}<br>Date</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for transaction in transactions %}
            <tr style="{{"page-break-after: always" if loop.index==20 else ""}}">

                {% for column in transaction.columns %}
                {% if column=='undefined' %}
                <td class="{{"less-padding" if loop.index0 else "less-padding align-right"}}"></td>
                {% elif column=='R0' %}
                <td class="less-padding"></td>
                {% else %}
                <td class="{{"less-padding" if not loop.index0 else "less-padding align-right"}}">{{ column }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>



    </table>

</div>