extends layouts/main-layout.pug

block content
  h1.display-3 Welcome to the Phantom Zone
  p This is Admin only Portal where Product can be added
  form.form-inline.my-2.my-lg-0(action='/admin/add-product', method='POST')
    input.form-control.mr-sm-2(type='text', placeholder='Product', name='Product')
    input.btn.btn-primary.my-0.my-sm-2(type='submit', value='Add Product'  )
